<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/personal_data.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="fonts/fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="fontawesome2/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
  
  
  <style>
    html,body,h1,h2,h3,h4,h5,p {font-family: "Raleway", sans-serif}
  </style>
</head>

<body class="light-grey">

<!-- Top container -->
<div class="bar top black large" style="z-index:4">
  <button class="bar-item button hide-large hover-none hover-text-light-grey" onclick="open_sidebar();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="bar-item right"><i class="fas fa-globe"></i>&nbsp Sci-Con</span>
</div>

<!-- Sidebar/menu -->
<nav class="sidebar collapse white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="container row">
    <div class="col s4">
      <img src="images/male.jpg" class="circle margin-right" style="width:46px">
    </div>
    <div class="col s8 bar">
      <span>Dobrodošli, <strong> <%=user.ime%> </strong></span><br>

      <% if (user.organizator) { %>
      <a href="/slanje-obavijesti" class="bar-item button"><i class="fa fa-envelope"></i></a>
      <% } %>  

      <a href="/profil" class="bar-item button blue"><i class="fa fa-user"></i></a>
      <a href="/postavke" class="bar-item button"><i class="fa fa-cog"></i></a>
      <a href="/odjava" class="bar-item button"><i class="fa fa-sign-out-alt"></i></a>
    </div>
  </div>
  <hr>

  <div class="container">
    <h5>Radna površina</h5>
  </div>
  <div class="bar-block">
    <a href="#" class="bar-item button padding-16 hide-large dark-grey hover-black" onclick="close_sidebar()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/profil" class="bar-item button padding blue"><i class="fas fa-user fa-fw"></i>  Profil</a>
    <a href="/popis-konferencija" class="bar-item button padding"><i class="fa fa-list fa-fw"></i>  Popis konferencija</a>
    <a href="/ucitavanje-rada" class="bar-item button padding"><i class="fa fa-edit fa-fw"></i>  Učitavanje rada</a>
    <a href="/moji-radovi" class="bar-item button padding"><i class="fa fa-history fa-fw"></i>  Moji radovi</a>
    
    <% if(user.recenzent) { %>
      <a href="/recenzija-rada" class="bar-item button padding"><i class="fas fa-eye fa-fw"></i>  Recenzija rada</a>
      <% } %>
    
      <% if(user.organizator) { %>
      <a href="/prijave-za-recenziranje" class="bar-item button padding"><i class="fa fa-bell fa-fw"></i>  Prijave za recenziranje</a>
      <a href="/slanje-obavijesti" class="bar-item button padding"><i class="fas fa-envelope fa-fw"></i>  Slanje obavijesti</a>
      <a href="/pregled-radova" class="bar-item button padding"><i class="fas fa-book fa-fw"></i>  Pregled radova</a>
      <% } %>

      <% if(user.administrator) { %>
      <a href="/stvori-konferenciju" class="bar-item button padding"><i class="far fa-plus-square fa-fw"></i>  Stvori konferenciju</a>
      <a href="/statistika" class="bar-item button padding"><i class="fa fa-chart-bar fa-fw"></i>  Statistika</a>
      <% }%>
    <a href="/postavke" class="bar-item button padding"><i class="fa fa-cog fa-fw"></i>  Postavke</a>
    <a href="/odjava" class="bar-item button padding"><i class="fa fa-sign-out-alt fa-fw"></i>  Odjava</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="overlay hide-large animate-opacity" onclick="close_sidebar()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="main1">
    
    <div class="center-screen">
        <h1 style="margin-top:-100px;">Moji osobni podatci:</h1>

        <!-- prikaz osobnih podataka-->
        <section>
            <!--for demo wrap-->
            
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td> <i class="fas fa-signature"></i> &nbsp   <strong>Ime:</strong></td>
                    <td><%=user.ime%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-file-signature"></i> &nbsp   <strong>Prezime:</strong></td>
                    <td><%=user.prezime%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-university"></i> &nbsp   <strong>Institucija:</strong></td>
                    <td><%=user.institucija%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-at"></i> &nbsp   <strong>E-mail adresa:</strong></td>
                    <td><%=user.email%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-flag"></i> &nbsp   <strong>Država:</strong></td>
                    <td><%=user.država%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-city"></i> &nbsp   <strong>Grad:</strong></td>
                    <td><%=user.grad%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-road"></i> &nbsp   <strong>Ulica:</strong></td>
                    <td><%=user.ulica%></td>
                  </tr>
                  <tr>
                    <td> <i class="fas fa-home"></i> &nbsp   <strong>Kućni broj:</strong></td>
                    <td><%=user.kbroj%></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </section>
    </div>

    

    

    <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function open_sidebar() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function close_sidebar() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
